body {
    background-color: #222;
    color: #00ff00;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-pic {
    width: 250px;
    height: 250px;
    object-fit: cover; /* This is the secret for JPGs! */
    border-radius: 8px;
}